<!DOCTYPE html>
<html>
  <head>
    <title>colsondesign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="site_header"><%= link_to "colsondesign.com", controller: 'welcome' %></h1>

    <div class="top_nav">
    <a><%= link_to "home", controller: 'welcome' %></a>
    <a><%= link_to "blog", controller: 'articles' %></a>
    </div>

    <div class="main_body">
    <%= yield %>
    </div>
  </body>

  <br><br>

  <footer class="footer">
    <br>
    <hr>
    <p>© Sam Colson 2020 | <a href="https://github.com/samcolson4">GitHub</a> | <a href ="https://github.com/samcolson4/CV">CV</a> | <a href ="https://www.linkedin.com/in/samcolson/">LinkedIn</a></p>
  </footer>

</html>
